@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: white !important;
}

html.lenis,
html.lenis body {
    height: auto !important;

}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain !important;
}

.lenis.lenis-stopped {
    overflow: hidden !important;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none !important;
}

body {
    overflow-x: hidden;
}